<ion-view view-title="Home">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2>Eet.nu App</h2>
        <p>The best restaurant guide</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <b>Authors</b>
      </div>
      <div class="item">
        Nick van der Meij
      </div>
      <div class="item">
        Guido Rademakers
      </div>
    </div>
  </ion-content>
</ion-view>