<ion-view view-title="User Reviews">
  <ion-content ng-init="loadReviews()">
  	<div class="card" ng-show="loading">
  		<h2>Loading...</h2>
  	</div>
  	<div class="list card" ng-repeat="review in reviews.results">
	    <a class="item item-avatar" href="#/venues/{{review.venue.id}}">
		    <img src="{{review.venue.images.cropped[0]}}">
		    <h2>{{review.venue.name}}</h2>
		    <p>{{review.venue.rating}}</p>
		</a>

		<div class="item item-body">
			<h2>Review</h2>
			<p>{{review.body}}</p>
		</div>

		<div class="item item-body" ng-show="review.scores">
			<h2>Scores</h2>
			<p>Food: {{review.scores.food}}</p>
			<p>Ambiance: {{review.scores.ambiance}}</p>
			<p>Service: {{review.scores.service}}</p>
			<p>Price vs Value: {{review.scores.value}}</p>
		</div>
	</div>
  </ion-content>
</ion-view>